name: Run examples
on:
  pull_request:

jobs:
  examples:
    name: run
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
      - name: example simple
        run: cd examples/simple && go run main.go
      - name: example embed
        run: cd examples/embed && go run main.go
